body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #ffffff;
    background-color: #222222;
}

h1 {
    text-align: center;
    font-family: 'Calibri';
}


.graficos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
}