body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #ffffff;
    background-color: #222222;
}

h1 {
    text-align: center;
    font-family: 'Calibri';
}


.indicadores-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

.graficos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
}

.filtros-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-bottom: 20px;
    align-self: center;
    
}

.botao {
    background-color: #fdfdfd;
    border: none;
    color: #222222;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 4px solid #00eeff;
}