{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Observatório de Segurança</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <h1>Observatório de Criminalidades - SP</h1>
        </br>

        <!-- Filtros -->
        <div class="filtros-container">
            <a href="{% url 'dashboard' %}">
                <button class="botao">Sem Filtro</button>
            </a>

            <a href="{% url 'dashboard' %}?natureza=FURTO">
                <button class="botao">Furto</button>
            </a>

            <a href="{% url 'dashboard' %}?natureza=ROUBO">
                <button class="botao">Roubo</button>
            </a>

            <a href="{% url 'dashboard' %}?natureza=LESAO CORPORAL DOLOSA">
                <button class="botao">Lesão Corporal</button>
            </a>

            <a href="{% url 'dashboard' %}?natureza=FURTO DE VEICULO">
                <button class="botao">Furto de Veículo</button>
            </a>

            <a href="{% url 'dashboard' %}?natureza=FURTO DE VEICULO">
                <button class="botao">Sinistro de Trânsito</button>
            </a>
        </div>


        <!-- Gráficos -->
    <div class="graficos-container">
        <div style="flex: 1 1 300px; min-width: 45%; max-width: 45%;" class="grafico">
            {{ fig_mapa|safe }}
        </div>
        <div style="flex: 1 1 300px; min-width: 45%; max-width: 45%;" class="grafico">
            {{ fig_bairro|safe }}
        </div>
    </div>

    <br><br>

    <div class='graficos-container'>
        <div style="flex: 1 1 300px; min-width: 45%; max-width: 45%;" class="grafico">
            {{ fig_hora|safe }}
        </div>
        <div style="flex: 1 1 300px; min-width: 45%; max-width: 45%;" class="grafico">
            {{ fig_data|safe }}
    </div>


        <!-- Indicadores -->
    <h1>Total de Ocorrências</h1>

    </br></br>

    <div class="indicadores-container">
        <p class="indicador">Total<br><span class="indicador_valor">{{ total }}</span></p>
        <p class="indicador">Furto<br><span class="indicador_valor">{{ total_furto }}</span></p>
        <p class="indicador">Roubo<br><span class="indicador_valor">{{ total_roubo }}</span></p>
    </div>

    <div class="indicadores-container">
        <p class="indicador">Lesão Corporal Dolosa<br><span class="indicador_valor">{{ total_lesao }}</span></p>
        <p class="indicador">Furto de Veículos<br><span class="indicador_valor">{{ total_veiculos }}</span></p>
        <p class="indicador">Sinistros de Trânsito<br><span class="indicador_valor">{{ total_sinistros }}</span></p>
    </div>

</body>
</html>
