{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Observatório de Segurança</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <h1>Observatório de Criminalidades - SP</h1>

        <!-- Filtros -->
        <div class="filtros-container">
            <a href="{% url 'dashboard' %}?natureza=Sem Filtro">
                <button class="botao">Sem Filtro</button>
            </a>

            <a href="{% url 'dashboard' %}?natureza=FURTO">
                <button class="botao">Furto</button>
            </a>

            <a href="{% url 'dashboard' %}?natureza=ROUBO">
                <button class="botao">Roubo</button>
            </a>

            <a href="{% url 'dashboard' %}?natureza=LESAO CORPORAL DOLOSA">
                <button class="botao">Lesão Corporal</button>
            </a>

            <a href="{% url 'dashboard' %}?natureza=FURTO DE VEICULO">
                <button class="botao">Furto de Veículo</button>
            </a>

            <a href="{% url 'dashboard' %}?natureza=FURTO DE VEICULO">
                <button class="botao">Sinistro de Trânsito</button>
            </a>
        </div>


    <!-- Gráficos lado a lado -->
    <div class="graficos-container">
        <div style="flex: 1 1 300px; min-width: 300px; max-width: 100%;">
            {{ fig_mapa|safe }}
        </div>
        <div style="flex: 1 1 300px; min-width: 300px; max-width: 100%;">
            {{ fig_bairro|safe }}
        </div>
    </div>

    <!-- Gráfico de barras - Hora (abaixo) -->
    <div style="margin-top: 32px;">
        {{ fig_hora|safe }}
    </div>




</body>
</html>
