<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Observatório de Segurança</title>
</head>
<body>
    <h1>Dashboard - Observatório de Segurança</h1>

     <!-- Filtros -->
    <a href="{% url 'dashboard' %}?natureza=Sem Filtro">
        <button>Sem Filtro</button>
    </a>

     <a href="{% url 'dashboard' %}?natureza=FURTO">
        <button>Furto</button>
    </a>

    <a href="{% url 'dashboard' %}?natureza=ROUBO">
        <button>Roubo</button>
    </a>

    <a href="{% url 'dashboard' %}?natureza=LESAO CORPORAL DOLOSA">
        <button>Lesão Corporal</button>
    </a>

    <a href="{% url 'dashboard' %}?natureza=FURTO DE VEICULO">
        <button>Furto de Veículo</button>
    </a>

    <a href="{% url 'dashboard' %}?natureza=FURTO DE VEICULO">
        <button>Sinistro de Trânsito</button>
    </a>

    <!-- Gráficos -->
        <h2>Maiores Ocorrências por Bairro</h2>
    {{ fig_bairro|safe }}

        <h2>Maiores Ocorrências por Horário</h2>
    {{ fig_hora|safe }}

        <h2>Maiores Ocorrências por Horário</h2>
    {{ fig_mapa|safe }}


</body>
</html>
